   <link rel='stylesheet' href="/css/header.css">
   <div id="header-body">
        <div ><h2>Codeial</h2></div>
        <div id="user-authentication"> 
            <ul type=None>
              
            <% if(locals.user){%>
                
               <li><a href="/users/profile"> <%=user.name %></a> </li>
               <li><a href="/users/destroy">   Signout</a></li>

                
            <% } else {%>
            <div><a href="/users/signin">Signin</a></div>
            <div><a href="/users/signup">Sign Up</a></div>
            <%}%>
            </ul>
        </div>
    </div>
